/* -----------------------------------
              Glans.scss
        Penned by Kurtis Bradley
------------------------------------*/


/* -----------------------------------
                Colors
------------------------------------*/

$color: #C7412C;
$color-shadow: #B6341F;
$color-highlight: #C75442;
$color-txt: #ececec;
/*$color: #457F2C;
$color-shadow: #38741E;
$color-highlight: #50853A;
$color-txt: #ececec;*/

.pri-color{
    background-color: $color;
    border: $color;
    box-shadow: $color-shadow;
    text-shadow: $color-highlight;
    color: $color-txt;
    
    button:hover{
        color: $color;
    }
}

.sec-color{
    background-color: $color;
    border: $color;
    box-shadow: $color-shadow;
    text-shadow: $color-highlight;
    color: $color-txt;

    .button{
        color: $color;
    }

    .button:hover{
        color: $color;
    }
}

/* -----------------------------------
            General Styles
------------------------------------*/
body{
    font-family: "Segoe UI";
}

h1{
    font-size: 2.3rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-shadow: 0px 1px 1px;
}

h2{
    font-size: 1.8rem;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    text-shadow: 0px 1px 1px;
}

h3{
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 0px 1px 1px;
}

h4{
    font-size: 1.2rem;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    text-shadow: 0px 1px 1px;
}

h5{
    font-size: 0.8rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-shadow: 0px 1px 1px;
}

h6{
    font-size: 0.5rem;
    margin-top: 2em;
    margin-bottom: 2em;
    text-shadow: 0px 1px 1px;
}

p{
    text-indent: 2em;
}

section{
    margin: 3em;
}

code{
    width: 100%;
    border: 1px solid;
    padding: 1em 1em 1em;
    text-indent: 2em;
    color: crimson;
}

/* -----------------------------------
                Buttons
------------------------------------*/

.button{
    text-decoration: none;
    padding: 0.3em 0.7em 0.5em;
    border: 2px solid;
    border-radius: 0.55em;
    box-shadow: 0px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.button:hover{
    background: none;
    cursor: pointer;
    box-shadow: 1px 0px 1px, -1px 0px 1px, 0px 1px 1px, 0px -1px 1px;
}
/* -----------------------------------
                Lists
------------------------------------*/